# Dependencias de Node.js
node_modules/
package-lock.json
pnpm-lock.yaml
yarn.lock

# Archivos de TypeScript
*.tsbuildinfo

# Salida de compilación
dist/
build/
out/

# Configuración del entorno
.env*

# Archivos de logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cachés y temporales
.cache/
.tmp/
coverage/
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db

# Directorios de pruebas y debugging
jest/
.nyc_output/
